* {
    padding: 0;
    margin: 0;
}

.jumbotron {
    height: 100vh;
    background: linear-gradient(180deg,
            #360061 0%,
            rgba(54, 0, 97, 0.7) 0.01%,
            rgba(156, 50, 240, 0.4) 100%),
        url("../../assets/img/6.jpeg");
    background-position-x: 100%;
    background-size: cover;
}

.half_jumbotron {
    height: 70vh;
    background: linear-gradient(180deg,
            #360061 0%,
            rgba(54, 0, 97, 0.7) 0.01%,
            rgba(156, 50, 240, 0.4) 100%),
        url("../../assets/img/6.jpeg");
    background-position-x: 100%;
    background-size: cover;
}

.img_news {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.mt_50 {
    margin-top: 50px;
}

.bg_default {
    background: #edf1f0;
}

.child_h {
    min-height: 92vh;
}

h1 {
    line-height: normal !important;
}

.flexy {
    flex: 1;
}

.input_hide {
    display: none;
}

.default_txt {
    color: #7f7f7f;
    font-size: small;
    margin-bottom: 0 !important;
}

.px_100 {
    padding: 0 100px;
}

.quotation {
    margin-top: 50px;
}

.circle_quote {
    position: absolute;
    top: 0;
    left: 150px;
    width: 50px;
    height: 50px;
    background: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.larger_ava {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.objectfit {
    object-fit: cover;
}

.relative_bg {
    position: relative;
    margin-right: 100px;
}

.temp_qupte {
    display: flex;
}

.chevron_right {
    display: block;
}

.img_kegiatan {
    height: 350px;
}

.temp_kegiatan {
    display: flex;
}

.other_btn {
    display: none;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .px_100 {
        padding: 0 100px;
    }

    .img_kegiatan {
        height: 250px;
    }
}

@media (max-width: 830px) {
    .temp_kegiatan {
        display: block;
    }
}

@media (max-width: 768px) {
    .chevron_right {
        display: none;
    }

    .other_btn {
        display: block;
    }

    .temp_qupte {
        display: block;
    }
}

@media (max-width: 576px) {
    .px_100 {
        padding: 0 50px;
    }

    .img_kegiatan {
        height: 200px;
    }

}

@media (max-width: 375px) {
    .px_100 {
        padding: 0 20px;
    }
}